* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#overflow {
  overflow-x: auto;
}

#buttons {
  width: 95%;
  margin: auto;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

table {
  border-spacing: 0;
  font-family: arial;
  border-bottom: #d0d5d8 solid 1px;
  margin-bottom: 20px;
  width: 100vw;
}

.table th,
.table td {
  border-right: #d0d5d8 solid 1px;
  padding: 20px 30px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
}

.table td:last-child {
  border-right: 0;
}

.table tbody td {
  font-size: 16px;
  text-align: center;
}

.table thead th {
  font-weight: normal;
  background-color: red;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.table tbody>tr:nth-child(odd)>td,
.table tbody>tr:nth-child(odd)>th {
  background-color: #f8f8f8;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 20px;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: white;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.267);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: red;
  box-shadow: 0px 15px 20px rgba(158, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

.mediaSala {
  border-radius: 10px;
  padding: 1em 3em;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: red;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.267);
  cursor: pointer;
  outline: none;
}

@media (max-width: 700px) {
    #overflow {
    margin: 20px 20px 20px 20px;
  }
  
  #buttons {
    width: 80vw;
    flex-direction: column;
    margin-top: 30px;
  }

  .mediaSala {
    width: 80%;
  }

  button {
    width: 80%;
    margin-bottom: 2%;
  }

  button:hover {
    transform: none;
  }
}
